@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.container{
    width: 1140px;
    margin: auto;
    
}
.party{
    background-image:linear-gradient(rgb(39, 35, 35),rgba(45, 37, 37, 0)), url('../images/Banner Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.party{
    width: 800px;
    height: 400px;
    text-align: center;
    box-sizing: border-box;
    margin: 0px auto;
}
.content{
    padding-top: 80px;
}

.newYear-title{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
    padding-top: 30px;
}
.newYear{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* START discount section */
.discount-section{
    width: 800px;
    height: 400px;
    margin: 0px auto;
    text-align: center;
}
.parcent{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.holiday-text{
    color:#F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.catagory{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.new-year-img{
    padding-top: 15px;
}
/* START midnight section */
.midnight-party{
    width: 800px;
    height: 400px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 150px auto;
    padding: 20px;
}
.midnight-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
}
.midnight-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.link-tag{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    text-decoration: none;
    text-transform: uppercase;
}
/* START address section style */
.address-container{
    width: 800px;
    height: 400px;
    background:  linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 0px auto;
    text-align: center;
    padding: 50px 0px;
}
.comon-color{
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;

}
.details-color{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.jbtn{
    background-color: #FF0000;
    padding: 10px 10px;
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
    margin: 10px 0px;
}
/* START best offer section */
.offer-section{
    width: 1000px;
    height: 400px;
    margin: 0px auto;
}
.bestOffer-heading{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.offer-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.coming{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.singale-div{
    width: 400px;
    text-align: left;
}
.image-div{
    width: 300px;
    height: 300px;
    border: 8px solid #F00;
    border-radius: 100%;
    text-align: center;
    
}
.image-div img{
    padding: 20px;
}
.year{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.year-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.offer-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.year-offer-div{
    width: 400px;
    height: 400px;
    text-align: left;
    margin-left: 30px;
}
/* start functional section */
.functional-section{
    width: 800px;
    height: 400px;
    text-align: center;
    margin: 0px auto;
}
.functional{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
.holiday-color{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
   
}
.sale{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    
}
.holiday-description{
        color: rgba(7, 2, 17, 0.60);
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 32px; 
}
.holiday-container-image{
    display: flex;
}
.bottom-image{
    width: 800px;
    position: relative;
    z-index: 1;
}
.gift-box{
    position: absolute;
    margin-top: 140px;
    z-index: 3;
}
.girl{
    margin-left: 400px;
    position: relative;
}
.group{
    position: absolute;
    margin-left: 280px;
    z-index: 5;
    margin-top: 80px;
}
/* portfolio section */
.portfolio{
    width: 800px;
    margin: 0px auto;
    padding-top: 500px;
}
.image-first-container{
    display: flex;
    justify-content: space-around;
}
.portfolio img{
    height: 200px;
    width: 200px;
}
.image-second-container{
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}

.best-gift{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    
}
.awesome{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.portfolio-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
}
.container-message{
    text-align: center;

}
.container-message h3{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.des{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
}
.user-mail{
    padding: 20px ;
    width: 500px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    font-size: 20px;
    border: none;
}
.user-btn{
    padding: 20px ;
    width: 150px;
    border: none;
    position: absolute;
    margin-right: 10px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #F00;
    color: white;
    font-size: 20px;

}
.group-6{
    padding-top: 20px;
}
.message{
    background: rgba(255, 0, 0, 0.05);
    padding-bottom: 20px;
    border-radius: 5px;
}
.icon{
    text-align: center;
    padding: 20px;
}
footer{
    background-color: #070211;
    padding: 30px 0px;
}
.wrapper{
    color: white;
    display: flex;
    justify-content: space-between;
}
.small{
    color: white;
    text-align: left;
}
.end{
    position: absolute;
    right: 50px;
    color: white;

}